
{% extends "blog/base.html" %}

{% block content%}
  <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'find' %}" >
    <input class="form-control mr-sm-2" type="search" name="search">
    <button class="btn btn btn-outline-info my-2 my-sm-0" type="submit"> Search </button>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sample_No</th>
        <th scope="col">Model_Code</th>
        <th scope="col">Sub_Category</th>
        <th scope="col">Curr_Location</th>
        <th scope="col">Curr_Assignee</th>
        <th scope="col">STPI</th>
      </tr>
    </thead>
    <tbody>
            {% for post in posts %}
            <p>{{post}}</p>
            <tr>
              <article class="media content-section">
                <div class="media-body">
                        <td>{{post.Sample_No}}</td>
                        <td>{{post.Model_Code}}</td>
                        <td>{{post.Sub_Category}}</td>
                        <td>{{post.Curr_Location}}</td>
                        <td>{{post.Curr_Assignee}}</td>
                        <td>{{post.STPI}}</td>
                    </tbody>
                  </table>
                </div>
              </article>
            </tr>
            {% endfor %}

            {% if is_paginated %}

            {% if page_obj.has_previous %}
              <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
      
            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% endif %}
            {% endfor %}
      
            {% if page_obj.has_next %}
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
      
          {% endif %}
{%endblock content%}